
html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.app {
  text-align: center;
}

.app .content {
  margin: 0 1rem;
}

.header {
  display: flex;
  background-color: rgb( 240, 240, 240 );
  border: 1px solid rgb( 230, 230, 230 );
  margin-bottom: 10px;
  padding: 1rem 1.5rem;
}

.header a {
  margin: 0 10px;
  white-space: nowrap;
}

.header .spacer {
  flex-grow: 1;
}

.counter .value-wrp {
  margin-bottom: 10px;
}

.counter .value {
  display: inline-flex;
  background-color: rgb( 235, 235, 235 );
  border: 1px solid rgb( 225, 225, 225 );
  border-radius: 4px;
  min-height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
}

.todo .list {
  margin: 10px auto;
}

.todo .item.done {
  text-decoration: line-through;
}

.todo .visibilities > span {
  margin: 0 5px;
}

.todo .visibilities > span:not(.active) {
  cursor: pointer;
}

.todo .visibilities > span.active {
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  align-self: flex-start;
}

form input {
  width: 100%;
}

form > * {
  margin-bottom: 5px;
}

form button {
  margin-top: 10px;
  flex-grow: 0;
}
